@media only screen and (max-width: 650px){
    .navigation{
        transform: translateX(-80px);
    }
    .nav_btn_icon{
        margin-left: 40px;
    }
    .navigation.active{
        margin-left: 80px;
    }
    .navigation.active .nav_btn_icon{
        margin-left: 0px;
    }

}

.navigation{
    width: 80px;
    height: 100%;
    position: fixed;
    background: #3e3e3e;
    transition: 200ms ease;
    font-size: 0%;
    z-index: 3;
}

.navigation.active{
    background-color: whitesmoke;
    width: 200px;
    height: 100%;
    font-size:x-large;
    color: black;
    transition: 200ms ease;
    box-shadow: 1px 1px 10px black;
}


.navigation.active .icon{
    fill: #13c4be;
    transition: 200ms ease;
}

.navigation.active .nav_link{
    animation: fadeIn 0.5s;
}

.icon{
    padding-top: 8vh;
}

.icon.home{
    padding-top: 0vh;
}

.navigation.active .nav_btn_icon{
    fill: #13c4be;
    transform: rotateZ(180deg);
    margin-top: -50px;
    padding-right: 170px;
    transition: 200ms ease;
}

.nav_btn_icon{
    padding-left: 50px;
    padding-bottom: 10vh;
    transition: 200ms ease;
}

.nav_main{
    display: flexbox;
    padding: 19px 18px;
    margin: 0;
    flex-direction: column;
}

.nav_link:link{
    text-decoration: none; 
}

.nav_link{
    color: #13c4be;

}

.nav_link:hover{
    color: #2A3D48;
}

.navigation.active .nav_link:hover .icon{
    fill:rgb(0, 0, 0);
    transform: scale(1.03);
    transition: 200ms ease;
}

.icon{
    fill: grey;
}

.icon:hover{
    fill: #13c4be;
    transform: scale(1.03);
    transition: 200ms ease;
}